doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')    
    title Monster Hotel
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='shortcut icon', href='/monsterHotel3.ico', type='image/x-icon')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/lumen/bootstrap.min.css", rel="stylesheet")
    link(href='/style.css', rel='stylesheet')
      
  body
    include ../partials/nav.jade
    h1.text-center Welcome to Monster Hotel!
    .container-fluid
      .row
        .col-xs-12
          block content
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.js')
