extends ../../layouts/master
block content
  h3 Monsters Index
  .row
    .col-xs-12
      form(method='post', action='/monsters')
        .form-group
          label(for='name') Name
          input#name.form-control(placeholder='Monster Name', maxlength=24, name="name")
        .form-group
          label(for='image') Image Url
          input#image.form-control(type='url', name="image", placeholder='http://')    
        .form-group
          label(for='gender') Gender
          label.radio-inline(for='male') Male
          input(type='radio', name="gender", id="inlineRadio1", value="male")
          label.radio-inline(for='female') Female
          input(type='radio', name="gender", id="inlineRadio2", value="female") 
          label.radio-inline(for='other') Other
          input(type='radio', name="gender", id="inlineRadio3", value="other")
        .form-group
          label(for='species') Species
          select#species.form-control(name="species")
            option Select Monster Type
            option Demon
            option Dragon
            option Faerie
            option Feral
            option Slime
        .form-group
          label(for='age') Age
          input#age.form-control(type='number', name='age')
        .form-group
          label(for='color') Color
          input.formcontrol(type=color, name='color')
        .form-group
          label(for='description') Description
          textarea#description.form-control(rows='3', placeholder='Enter Monster Description here', name='description')
        .form-group
          button.btn.btn-default(type='submit') Submit Monster to Database
    .col-xs-8
