extends ../../layouts/master
block content
  h3 Clients Index
  a(href='/clients/new') Add Clients
  
  #contacts
    .container-fluid
      .row
        each client in clients
          #cardBorder.col-xs-4.client
            .image(style='background-repeat: no-repeat; background-size: cover; height: 300px; background-image:url(' + client.image + ')')
            .info
              .name: a(href='/clients/#{client._id}')= client.name
              .age= client.age
              label Looking For:
              .lookingFor= client.species
